<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.apps.fullcourseandroidclassb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".breakingbadapp.ui.BreakingBadApplication"
        android:allowBackup="true"
        android:icon="@drawable/logocar"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logocar"
        android:supportsRtl="true"
        android:theme="@style/Theme.FullCourseAndroidClassB">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD9pI8PoB4b61O6Rq-EBNaEdZ2AfOjRMMA" />

<!--        <activity-->
<!--            android:name=".googlemapswander.MapsActivity"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_maps" />-->
        <activity
            android:name=".todolistapi.ui.TodoListApiApplication"
            android:exported="false" />
        <activity
            android:name=".MotherOfTheApps"
            android:exported="false" />
        <activity android:name=".pushnotification.ui.CloudMessagingApp" />

        <service
            android:name=".pushnotification.service.FirebaseService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity android:name=".clothesapp.ui.ClothesApp" />
        <activity android:name=".breakingbadapp.ui.BreakingBad" />
        <activity android:name=".otherapps.utils.CoroutinesExamples" />
        <activity android:name=".shoppinglist.ui.ShoppingActivity" />
        <activity android:name=".onboardingscreen.ui.OnBoardingScreens" />
        <activity android:name=".otherapps.utils.BroadcastReceiverExample" />
        <activity android:name=".otherapps.utils.NotificationExample" /> <!-- <activity android:name=".ui.BullsCarsActivity" /> -->
        <activity android:name=".otherapps.ui.base.HomeActivity" />
        <activity android:name=".otherapps.ui.base.BaseActivity" />
        <activity android:name=".otherapps.ui.base.SplashScreen" />
        <activity android:name=".otherapps.ui.loginsystem.RegistrationActivity" />
        <activity android:name=".otherapps.ui.loginsystem.LoginActivity" /> <!-- <activity android:name=".ui.TodoListApplication" /> -->
        <activity
            android:name=".firebasefirestoreapp.ui.MainActivity"
            tools:ignore="Instantiatable" /> <!-- <activity android:name=".ResturantMenu" /> -->
        <activity
            android:name=".otherapps.ui.others.ImageViewExample"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".otherapps.ui.others.Calculator"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".otherapps.ui.others.Counter"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".googlemapswander.MapsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>